body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    margin: 0;
}

#app {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    padding: 10px;
    margin: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.date {
    font-size: 0.8em;
    color: gray;
    margin-left: auto;
    margin-right: 10px;
}

button.delete {
    background: none;
    color: red;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 10px;
    line-height: 1;
}

button#archiveAllButton, button#archiveSelectedButton {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button#archiveAllButton:hover, button#archiveSelectedButton:hover {
    background: #0056b3;
}
